* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f7f7f7;
  line-height: 1.6;
  font-size: 16px;
  color: #555;
}

.navbar {
  background-color: #850b0b;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}


.nav-container {
  display: flex;
  align-items: center;
}

.nav-items a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}



.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.search-container input {
  padding: 8px;
  border: 1px solid #ddd;
}


.search-container button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}




#product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px; /* Added margin to the bottom for spacing */
}

.product-card a {
  color: #333;
  text-decoration: none;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}




#product-grid input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}


.add-to-cart-form {
  margin-top: 10px;
}


.product-card:hover {
  animation: vibrate 0.5s linear both;
}



.product-card h3,
.product-card p {
  text-align: left;
}



footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.cart-item, .checkout-section, .cart-section h2, .checkout-section h2, .cart-total, form button {
  text-align: center;
}
.cart-section {
  text-align: center;
}



.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.nav-items {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  padding: 8px 12px; 
}

.login-button, .nav-items button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.nav-items button {
  background-color: transparent; 
  color: white; 
}

.login-button:hover, .nav-items button:hover {
  background-color: #45a049; 
}



.add-to-cart-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.login-button, .nav-items button {
  background-color: #00ff62;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-faq {
  color: white; 
  text-decoration: none;
  margin-right: 20px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar,
  .checkout-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .cart-item {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  
}

.cart-total {
  font-size: 1.2em;
  margin-top: 10px;
}


form button {
  background-color: #026873;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s;
}

form button:hover {
  opacity: 0.9;
}

.item-details h3, .item-details p, .item-details span, form button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cart-section h2,
.checkout-section h2 {
  border-bottom: 2px solid #026873;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #026873;
}

.checkout-button {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

@media (max-width: 768px) {
  #product-grid {
    grid-template-columns: 1fr;
  }
}

.categories-container {
  padding: 20px;
}

.category-title {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #850b0b;
  color: #850b0b;
  font-size: 24px;
  text-transform: uppercase;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.product p {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .row {
    display: block;
  }

  .column {
    width: 100%;
    margin-bottom: 20px;
  }
}