body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    color: blue;
    font-size: 24px;
    margin-right: 10px;
}

.buttons {
    display: flex;
}

.buttons button {
    margin-left: 10px;
}

/* Adicione margem apenas ao primeiro botão */
.buttons button:first-child {
    margin-left: 850px; /* Ajuste a margem conforme necessário */
}

.barra-pesquisa {
    padding: 10px;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
    max-width: 150px;
}

.barra-pesquisa input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
}

.barra-pesquisa input[type="text"]:focus {
    outline: none;
}

.produto {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    border: none;
}

.preco {
    color: #B12704;
    font-size: 18px;
}